@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;900&display=swap');
.header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 70px;
  background-color: #fafafa;
  font-family: 'Nunito Sans', sans-serif;
}

.logo {
  margin: 0px 0px 0px 0px;
  padding-left: 1.5em;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.logo p {
  /*margin: inherit;*/
  margin-top: 1em;
  margin-bottom: 1em;
  width: 116px;
  height: 25px;

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 25px;

  letter-spacing: 1.25px;
  text-transform: capitalize;

  color: #f3931f;
}

.nav-header {
  display: flex;
  width: calc(100vw - 116px);
  height: 100%;
  margin: 0em 0.5em;
  align-items: center;
}

a {
  color: #000;
}

.nav-item {
  display: inline-block;
  padding: 1em;
  font-weight: 600;
}

.nav-right {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.nav-right .separator-left,
.nav-right .separator-none {
  height: 24px;
}

.nav-right .separator-left {
  border-left: 1px solid #000;
}

.separator-left > .nav-item,
.separator-none > .nav-item {
  margin-top: -24px;
}
