.TradeExchangeBar {
  display: flex;
  height: 70px;
  width: 100%;
  background-color: #eeeeee;
  padding: 0 0.5em;
  /*overflow: hidden;*/
}

.TradeExchangeBar .trade-info {
  display: flex;
  flex=direction: row;

  justify-content: center;
  align-items: center;

  font-weight: 500;
  padding: 0 1em 0 1em;
  margin: 1em 0;

  flex-wrap: wrap;
}

.TradeExchangeBar .info-title {
  font-weight: 300;
}

.TradeExchangeBar .info-price {
  font-weight: 300;
}

.trade-info-col {
  display: flex;
  flex-direction: column;
}

.separator-right {
  border-right: 1px solid #aeb1b7;
}

.dropdown-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 1em 0 0;
}
