@import '~antd/dist/antd.css';
.App {
  display: flex;
  flex-direction: column;
  /*width: 100vw;
  height: 100vh;*/
  overflow: none;
  position: fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.DataResponse {
  display: flex;
  width: 500px;
  height: 700px;
  flex-wrap: wrap;
  overflow: scroll;

  background-color: red;
}

.DataResponse p {
  font-size: 12px;
  overflow-wrap: break-word;
}

.trade-wrap {
  display: flex;
  flex-direction: row;
  width: 100vw;
  overflow: auto;
}

.trade-content {
  display: flex;
  flex-direction: column;
  flex: 2;
  height: 100%;
}

.trade-side {
  display: flex;
  flex: 1;
  height: 100%;
  background-color: #fafafa;
  overflow-x: hidden;
}

.trade-side .ant-tabs-content-holder {
  padding: 0.5em;
}

.trade-time-info {
  display: flex;
  height: 30px;
  background-color: #fafafa;
  width: 100%;
  padding: 0 0.5em 0.5em 0.5em;
}
