@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;600;700;900&display=swap');


.ant-tabs-tab {
  display: flex;
  background-color: #eeeeee;
  height: 70px;
  font-family: Nunito Sans;
}

.ant-tabs-nav-wrap {
  background-color: #eeeeee;
  height: 70px;
  margin-right: -1em;
}

.ant-tabs.ant-tabs-top.ant-tabs-editable.ant-tabs-card.ant-tabs-editable-card {
  width: 300px;
  height: 100%;
  font-family: Nunito Sans;
  border-left: 1px solid #aeb1b7;
}

.ant-tabs-content-holder,
.ant-tabs-content {
  width: 100%;
  height: 100%;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  background-color: #eeeeee;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab-active,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab-active {
  border-top: 1px solid #F3931F;
  background-color: #fafafa;
}

.ant-tabs-tab-remove {
  background-color: #eeeeee;
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  padding: 1px;
  margin: 0;
  font-size: 10px;
  line-height: 10px;
  border: 1px solid #cfcfcf;
}

.anticon svg {
  width: 100%;
  height: auto;
}

.ant-tabs-card > .ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card > div > .ant-tabs-nav .ant-tabs-tab {
  padding: 1em 1em;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-add, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-add {
  border-radius: 50%;
  min-width: 32px;
  width: 32px;
  height: 32px;
  align-self: center;
  border: 1px solid #cfcfcf;
  font-size: 16px;
}

.ant-tabs-nav-operations{
  height: 70px;
  flex-direction: column-reverse;
  padding: 1px 1px 1px 13px;
  justify-content: space-between;
  background-color: #eeeeee;
}

.ant-tabs > .ant-tabs-nav .ant-tabs-nav-more, .ant-tabs > div > .ant-tabs-nav .ant-tabs-nav-more {
  padding: 0;
  border-radius: 50%;
  min-width: 32px;
  width: 32px;
  height: 32px;
  background-color: #fafafa;
  font-size: 16px;
  border: 1px solid #cfcfcf;
  margin: 0 0 0 2px;
}