.TradeAbsTabs{
	display:flex;
	flex-direction: column;
	width: 300px;
	height: 100%;
	border-left: 1px solid #aeb1b7;
	font-family: Nunito Sans;
}

.TradeAbsTabs .assets {
	/*display: flex;*/

	width: 100%;
	height: 70px;
	padding: 1em 1em;
	background-color: #eeeeee;
}

.price {
	text-align: right;
	padding: 0em 0.5em;
}